<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="body-newProduct">
        <%- include('../partials/header') %>
        <% function showError (param){ %>
            <p class="">
                <% if (typeof errors !="undefined" ) { %>
                    <% errors.forEach(specificError=> { %>
                        <% if (specificError.param===param ) { %>
                            <%= specificError.msg %>
                        <% } %>
                    <% }) %>
                <% } %>
            </p>
        <% } %>

            <main class="main-newProduct">
                <form action="/newProduct" method="POST" enctype="multipart/form-data">
                    <div class="items-new-product">
                        <label class="productName">
                            Nombre del producto
                        </label>
                        <input type="text" name="productName" placeholder="Curso Genial .  .  ." class="item"
                        value="<%= locals.oldData?oldData.productName:null %>">
                        <% showError('productName') %>
                    </div>
                    <div class="items-new-product">
                        <label>
                            Descripción
                        </label>
                        <input type="text" name="productDescription" placeholder="En este curso aprenderás .  .  ."
                            class="item" value="<%= locals.oldData?oldData.productDescription:null %>">
                    </div>
                    <div class="items-new-product">
                        <label>
                            Imagen
                        </label>
                        <div class="productImage">
                            <input type="file" name="productImage" class="item-productImage">
                        </div>

                    </div>
                    <div class="items-new-product">
                        <label>
                            Categoría
                        </label>
                        <div class="item-categorias">
                            <select name="productCategory" class="item-categorias2">
                                <option value="" class="categoria-particular">Seleccione una Categoría</option>
                                <% let categories=['Desarrollo web', 'Desarrollo Móvil' , 'Ciberseguridad'
                                    , 'Ciencia de datos' , 'Inteligencia Artificial'] %>
                                <% categories.forEach(specificCategory=> { %>
                                    <option value="<%= specificCategory %>" class="categoria-particular" <%=(locals.oldData &&
                                            (specificCategory===oldData.productCategory))?'selected':null %>><%= specificCategory %>
                                    </option>
                                <% }) %>
                            </select>
                            <% showError('productCategory') %>
                        </div>
                    </div>
                    <div class="items-new-product">
                        <label>
                            Precio
                        </label>
                        <input type="text" name="productPrice" placeholder="COP .  .  ." class="item"
                        value="<%= locals.oldData?oldData.productPrice:null %>">
                        <% showError('productPrice') %>
                    </div>
                    <div class="items-new-product">
                        <button type="submit" class="button-crear-curso"> Crear curso </button>
                    </div>
                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>