<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>     
    <main class="main_PD">   
        <div class="background_general_course">
            <section class="general_course">
                <div class="img_background">                
                    <img alt="js" class="product_img_pd"  src= <%= "/images/productsImages/" + specificProduct.productImage %>>                     
                </div>
                                        
                <div class="introduction">    
                    <div class="title_course"><h1><%= specificProduct.productName %></h1>                  
                    </div> 
                    <div>
                        <ul class="introduction_text">
                            <li class="li_text">The modern JavaScript course for everyone! Master JavaScript with projects, </li>
                            <li class="li_text">
                                <span class="mas_vendido">¡El Más vendido!</span>
                                <span class="introduction_star"><i class="fas fa-star"></i></span>
                                <span class="introduction_star"><i class="fas fa-star"></i></span>
                                <span class="introduction_star"><i class="fas fa-star"></i></span>
                                <span class="introduction_star"><i class="fas fa-star"></i></span>                                
                                <span class="introduction_star"><i class="fas fa-star-half"></i></span> 
                                <span><a href="#">10 comentarios</a> </span>
                                <span>100 estudiantes</span>
                            </li>
                            <li class="li_text-3">
                                <div class="creator_modify">
                                    <div class="creator">
                                        Creado por: Cesar Corregidor Carreño
                                    </div>
                                    <div class="modify">
                                        <ul class="listModify">
                                            <li>
                                                <div class="modifyProduct">
                                                    <a href= <%= "/modifyProduct/" + specificProduct.productId %> >Modifica tu curso</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="deleteProduct">
                                                    <form action="/productDetail/<%= specificProduct.productId %>?_method=DELETE" method="POST" style="display: inline-flex">
                                                        <button type="submit" class="action-button delete" >Eliminar curso</button>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                    <!--
                                    <div class="modify">
                                        <a href= <%= "/modifyProduct/" + specificProduct.productId %> >Modifica tu curso</a>
                                    </div>
                                    <div class="modify">
                                        <form action="/productDetail/<%= specificProduct.productId %>?_method=DELETE" method="POST" style="display: inline-flex">
                                            <button type="submit" class="action-button delete">Eliminar curso</button>
                                        </form>
                                    </div>
                                    -->
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>    
                
        <section class="containt_2">
            <section class="course_information">
                <div class="buy">                    
                    <div>
                        <div class="price">$<%= specificProduct.productPrice %></div>
                            <button type="button" class="price_button">
                                <div class="cart_shopping_add">Añadir al Carrito</div>
                            </button>                              
                        </div>
                </div>
                <div class="product_description">
                    <h3>Descripción del producto</h3>
                    <ul class="general_list">
                        <li>
                            <span><%= specificProduct.productDescription %></span>
                        </li>
                        <li><span><i class="fas fa-video"></i></span>
                            <span>52 horas de video</span>
                        </li>
                        <li><span><i class="fas fa-file-alt"></i></span>
                            <span>80 artículos</span>
                        </li>
                        <li><span><i class="fas fa-save"></i></span>
                            <span>100 recursos descargables</span>
                        </li>
                        <li><span><i class="fas fa-infinity"></i></span>
                            <span>Acceso Ilimitado</span>
                        </li>
                        <li><i class="fas fa-mobile-alt"></i></span>
                            <span>Acceso en dispositivo celular</span>
                        </li>
                        <li><span><i class="fas fa-trophy"></i></span>
                            <span>Certificado de completamiento</span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="learn">
                <h3>Qué vas a aprender</h3>
                <div class="learn_list">
                    <ul class="general_list">
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                        <li>
                            <span>
                            <i class="fas fa-check"></i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat iste culpa. Voluptatem minima earum possimus dicta
                            </span>
                        </li>
                    </ul>
                </div>         
    
            </section>
        </section>       
        <br>
        <section class="course_content">
            <h3>Contenido del curso</h3>
            <ul class="general_list">
                <li class="list_li">
                    <details class="list_details">
                        <summary class="list_summary"><div class="list_a"><i class="fas fa-angle-right"></i>Tema1</div></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li">Tema1.1</li>
                            <li class="sublist_li">Tema1.2</li>
                            <li class="sublist_li">Tema1.3</li>
                            <li class="sublist_li">Tema1.4</li>
                            <li class="sublist_li">Tema1.5</li>
                        </ul>    
                    </details>                
                </li>       
                <li class="list_li">
                    <details>
                        <summary class="list_summary"><div class="list_a"><i class="fas fa-angle-right"></i>Tema2</div></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li">Tema2.1</li>
                            <li class="sublist_li">Tema2.2</li>
                            <li class="sublist_li">Tema2.3</li>
                            <li class="sublist_li">Tema2.4</li>
                            <li class="sublist_li">Tema2.5</li>
                        </ul>    
                    </details>                
                </li>
                <li class="list_li">
                    <details>
                        <summary class="list_summary"><div class="list_a"><i class="fas fa-angle-right"></i>Tema3</div></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li">Tema3.1</li>
                            <li class="sublist_li">Tema3.2</li>
                            <li class="sublist_li">Tema3.3</li>
                            <li class="sublist_li">Tema3.4</li>
                            <li class="sublist_li">Tema3.5</li>
                        </ul>    
                    </details>                
                </li>
                <li class="list_li">
                    <details>
                        <summary class="list_summary"><div class="list_a"><i class="fas fa-angle-right"></i>Tema4</div></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li">Tema4.1</li>
                            <li class="sublist_li">Tema4.2</li>
                            <li class="sublist_li">Tema4.3</li>
                            <li class="sublist_li">Tema4.4</li>
                            <li class="sublist_li">Tema4.5</li>
                        </ul>    
                    </details>                
                </li>
                <li class="list_li">
                    <details>
                        <summary class="list_summary"><div class="list_a"><i class="fas fa-angle-right"></i>Tema5</div></summary>  
                        <ul class="sublist_ul">
                            <li class="sublist_li">Tema5.1</li>
                            <li class="sublist_li">Tema5.2</li>
                            <li class="sublist_li">Tema5.3</li>
                            <li class="sublist_li">Tema5.4</li>
                            <li class="sublist_li">Tema5.5</li>
                        </ul>    
                    </details>                
                </li>                           
            </ul>
        </section>
        <br>
        <section class="comments">
            <h3>Comentarios y Valoraciones</h3>
            <ol class="general_list">
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum quaerat quidem deserunt, consectetur ducimus aut iure? Voluptate nesciunt, veritatis provident repudiandae debitis
                </li>
            </ol>
        </section>
    </main>    

    <%- include('../partials/footer') %>
    
</body>
</html>