<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body  class="fondo-login-register">

        <%- include('../partials/header') %> 
        
        <main class="main-login">
            <form action= "/editProfile/<%= profileToEdit.userId %>?_method=PUT" method="POST" enctype="multipart/form-data" multiple>
                <div class="items-formulario">
                    <label>
                        Nombre y Apellido:
                    </label>
                    <input type="text" name="userName" value="<%= profileToEdit.userName %>" class="item">
                </div>
                <div class="items-formulario">
                    <label>
                        Email:
                    </label>
                    <input type="email" name="userEmail" value="<%= profileToEdit.userEmail %>" class="item">
                    <p class="mensaje-alerta"></p>
                </div>
                <div class="items-formulario">
                    <label>
                        Contraseña:
                    </label>
                    <input type="Password" name="userPassword" class="item">
                </div>
                <div class="items-formulario">
                    <label>
                        Categoría
                    </label>
                    <div class="item-categorias">
                        <select name="userCategory" class="item-categorias2">
                            <option value="" class="categoria-particular">Tipo de Usuario</option>
                            <% let categories=['Student', 'Teacher' ] %>
                            <% categories.forEach(specificCategory=> { %>
                                <option value="<%= specificCategory %>" class="categoria-particular"><%= specificCategory %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="items-formulario">
                    <label>
                        Imagen
                    </label>
                    <div class="userImage">
                        <input type="file" name="profileImage" class="item-productImage" multiple required>
                    </div>
                </div>
                <div class="items-formulario">
                    <button type="submit" class="button-enviar-borrar"> editar </button>
                </div>            
            </form>
        </main>
        
        <%- include('../partials/footer') %>
        
    </body>
</html>