<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

            <main class="main-index">
                <section class="last-visit">
                    <div class="container-up">
                        <div class="self-container-1">
                            <h3>Resultados:</h3><br>
                        </div>
                    </div>

                    <div class="products">
                        <% obtainedProduct.forEach((specificProduct)=>{ %>
                            <article>
                                <a href="/productDetail/<%= specificProduct.productId %>">
                                    <img src="images/productsImages/<%= specificProduct.productImage %>" class="product_img">
                                    <div class="main-article">
                                        <h4 class="title">
                                            <%= specificProduct.productName %>
                                        </h4>
                                        <p class="price">$<%= specificProduct.productPrice %>
                                        </p>
                                        <p class="">
                                            <%= specificProduct.productDescription %>
                                        </p>
                                    </div>
                                </a>
                            </article><br>
                            <% }) %>
                    </div>
                </section>
            </main>

            <%- include('../partials/footer') %>

    </body>

</html>